.operation {
    padding: 0px 30px;
    box-sizing: border-box;
    line-height: 50px;
    background-color: #ffffff;
    box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
}

.ant-btn {
    margin-right: 5px;
}


.labelSelect {
    margin-bottom: 10px;
    line-height: 30px;
}

.container {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#canvas {

    width: auto;
    height: auto;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    overflow: auto;
}

.operation-area {
    /* width: ; */
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}