#container {
  width: 100%;
  height: 100%;
}
.button {
  margin: auto;
  padding: 4px 12px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 3px;
  transition: color 0.3s, background 0.3s;
  background: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  outline: 0;
  border: 1px solid #777;
  color: #777;
  vertical-align: middle;
}
.button:hover {
  color: #999;
  border-color: #999;
}
.button.primary {
  border: 1px solid #1d75b3;
  color: #1d75b3;
}
.button.primary:hover {
  color: rgba(29, 117, 179, 0.6);
  border-color: rgba(29, 117, 179, 0.6);
}
.button.primary:active {
  color: hsl(204, 72%, 30%);
  border-color: hsl(204, 72%, 30%);
}
.button.icon {
  border: 0 !important;
  color: #666;
  margin: 0 4px;
  padding: 4px 8px;
  font-size: 13px;
}
.button.icon:hover {
  color: #222;
}
.button.icon:hover .popover {
  opacity: 1;
}
.button.icon:active {
  color: #000;
  background: #eee;
}
.button:after {
  content: '';
  position: absolute;
  right: 0.9em;
  top: 0.2em;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background: #f70;
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s;
}
.button.dot:after {
  transform: scale(1);
  opacity: 1;
}
.button[disabled] {
  cursor: not-allowed;
}
.button[disabled] *,
.button[disabled]:after {
  opacity: 0.5;
}
.button[disabled]:hover {
  color: #666;
  background: #fff;
}
.button.stared {
  color: #f37684 !important;
  animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) none;
}
.button.stared .heart-animation-1,
.button.stared .heart-animation-2 {
  background: url('https://zos.alipayobjects.com/rmsportal/zJmKEvdcGcybcEgopybK.svg') no-repeat center;
  background-size: 100%;
  display: block;
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 14px;
  opacity: 0;
}
.button.stared .heart-animation-1::before,
.button.stared .heart-animation-2::before,
.button.stared .heart-animation-1::after,
.button.stared .heart-animation-2::after {
  content: '';
  background: inherit;
  background-size: 100%;
  width: inherit;
  height: inherit;
  display: inherit;
  position: relative;
  top: inherit;
  left: inherit;
  opacity: 0;
}
.button.stared .heart-animation-1 {
  animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.button.stared .heart-animation-1::before,
.button.stared .heart-animation-1::after {
  width: 12px;
  height: 10px;
  visibility: hidden;
}
.button.stared .heart-animation-1::before {
  opacity: 0.6;
  animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.button.stared .heart-animation-1::after {
  animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  opacity: 0.75;
}
.button.stared .heart-animation-2 {
  animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.button.stared .heart-animation-2::before,
.button.stared .heart-animation-2::after {
  width: 10px;
  height: 8px;
  visibility: hidden;
}
.button.stared .heart-animation-2::before {
  animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  opacity: 0.25;
}
.button.stared .heart-animation-2::after {
  animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  opacity: 0.4;
}
.button .popover {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  position: absolute;
  color: #fff;
  bottom: -50px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  z-index: 1000;
  white-space: nowrap;
  transition: opacity 0.2s;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
}
.button .fa {
  padding: 0 0.4em;
  font-size: 18px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
@keyframes heartPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes heartUnlike {
  50% {
    transform: scale(0.75);
  }
}
@keyframes heartFloatMain-1 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translate(0, -25px) rotate(-20deg);
  }
}
@keyframes heartFloatMain-2 {
  0% {
    opacity: 0;
    transform: translate(0) rotate(0) scale(0);
  }
  50% {
    opacity: 0.9;
    transform: translate(-10px, -38px) rotate(25deg) scale(1);
  }
}
@keyframes heartFloatSub-1 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(13px, -13px) rotate(30deg);
  }
}
@keyframes heartFloatSub-2 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(18px, -10px) rotate(55deg);
  }
}
@keyframes heartFloatSub-3 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(-10px, -10px) rotate(-40deg);
  }
  100% {
    transform: translate(-50px, 0);
  }
}
@keyframes heartFloatSub-4 {
  0% {
    visibility: hidden;
    transform: translate(0) rotate(0);
  }
  50% {
    visibility: visible;
    transform: translate(2px, -18px) rotate(-25deg);
  }
}
