body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100vh;
    width: 100%;
}

.site-layout {
    padding: 16px;
    box-sizing: border-box;
}

.ant-menu-vertical .ant-menu-item {
    margin-top: 0 !important;
    padding-left: 30px !important;
}

.ant-layout {
    padding: 0;
    height: 100%;
}

.ant-layout.ant-layout-has-sider {
    flex-direction: row;
    height: 100%;
}

.ant-layout-content {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    height: 100%;
    padding-top: 0;
    padding: 0;
}

.container {
    height: auto;
    width: auto;
}

.ant-menu-item {
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item {
    padding-left: 30px !important;
}

.ant-menu-light {
    height: 100% !important;
}

#dynamic-side {
    position: relative;
}

.drag-icon {
    position: absolute;
    cursor: grab;
    font-size: 32px;
    bottom: 50%;
    right: -16px;
    transform: translateY(-50%);
}

#preview {
    display: none;
}

.ant-menu {
    overflow-y: auto;
    overflow-x: hidden;
}

.ant-menu::-webkit-scrollbar {
    display: none;
}
