.operation {
    padding: 0px 30px;
    box-sizing: border-box;
    line-height: 50px;
    background-color: #ffffff;
    box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
}

.ant-btn {
    margin-right: 5px;
}

.labelSelect {
    margin-bottom: 10px;
    line-height: 30px;
}

.container {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.operation-area::-webkit-scrollbar,
#canvas::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 3px;
}

.operation-area::-webkit-scrollbar-thumb,
#canvas::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.operation-area::-webkit-scrollbar-track,
#canvas::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.operation-area {
    position: relative;
    padding: 0 5px;
    min-width: 200px;
    height: auto;
    margin-left: 5px;
    overflow-y: auto;
    box-shadow: 2px 0 6px rgb(0 21 41 / 35%);
}

.card-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 8px;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    word-break: break-all;
}

.card-title::after {
    content: '';
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.radio-label {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.li-radio-content {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
}

.opacity {
    opacity: 0.3;
}

.li-radio-content:hover {
    background-color: rgb(245, 245, 245);
}

.li-radio {
    padding: 4px 12px;
    font-size: 12px;
    background-color: rgb(0, 156, 224);
    color: #ffffff;
    letter-spacing: 3px;
    border-radius: 15px;
}

.tjtyanjing,
.tjtbiyan {
    margin-right: 15px;
}

.tjtlajitong1 {
    color: rgb(100, 100, 100);
}

.radio-select {
    background-color: #e0e0e0 !important;
}

/*  上面不太重要  */

:root {
    --select-text-bg-color: transparent;
    --select-color: transparent;
}

.content-container::-webkit-scrollbar,
#canvas::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 3px;
}

.content-container::-webkit-scrollbar-thumb,
#canvas::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.content-container::-webkit-scrollbar-track,
#canvas::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.content-container {
    flex: 1;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-selected {
    position: relative;
    text-decoration: dashed;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--select-color);
    text-underline-offset: 6px;
}

.text-selected::after {
    content: attr(data-attr);
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 16px;
    width: auto;
    white-space: nowrap;
    color: var(--select-color);
}

.interval {
    padding: 0 20px;
    line-height: 70px;
    font-size: 16px;
}

.text-selected {
    position: relative;
}

#select-modal {
    display: none;
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    contain: content;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.label-show {
    margin-top: 5px;
}

.next-select .next-select-inner {
    border: none;
    border-bottom: 1px solid #cfd2db;
    margin-bottom: 10px;
}

.ant-menu-light {
    max-height: inherit !important;
    height: 100% !important;
    border: 1px solid #cfd2db !important;
    border-radius: 4px;
    overflow: hidden;
    border-radius: 4px;
}

.ant-menu-vertical .ant-menu-item {
    margin-top: 0 !important;
    padding-left: 5px !important;
    margin-bottom: 0 !important;
}

.ant-menu-item {
    padding: 0 !important;
}

.ant-menu-light .ant-menu-item:hover {
    background-color: #e6f7ff;
}

.ant-menu-light {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #cfd2db !important;
    border-radius: 4px;
}

.ant-menu-light::-webkit-scrollbar,
#canvas::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 3px;
}

.ant-menu-light::-webkit-scrollbar-thumb,
#canvas::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.ant-menu-light::-webkit-scrollbar-track,
#canvas::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
