.father{
    width: 400px;
    height: 200px;
    background-color: cadetblue;
}
.son1{
    width: 200px;
    height: 100px;
    background-color: tomato;
}

.son2{
    width: 200px;
    height: 100px;
    background-color: slateblue;
}

.grandson{
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
}