.container{
 width: 100%;
 height: 100vh;
 background-color: tan;   
}

.page{
    width: 100%;
    height: 1000px;
    display: flex;
}
.page1{
    width: 100%;
    height: 100vh;
}

/* .page h1{
    color:#ffffff !important;
} */

